<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="mb-5" id="list1" style="border-radius: .75rem; background-color:#b3c4cda1;">
                    <div class="card-body py-4 px-4 px-md-5">
                        <p class="h1 text-center mt-3 mb-4 pb-3 text-info">
                            <i class="fas fa-check-square me-1"></i>
                            <u>Notes Public</u>
                        </p>
                        <div class="pb-2">
                            <div class="d-flex justify-content-end">
                                <div class="btn-group">
                                    <button class="ms-2 btn btn-info text-white dropdown-toggle " type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Action

                                    </button>
                                    </button>
                                    <ul class="dropdown-menu">

                                        <li><a class="dropdown-item" href="/home">
                                                My Notes
                                            </a></li>
                                        <li><a class="dropdown-item" href="/notes">
                                                List of notes shared publicly
                                            </a></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <hr class="my-4">

                        <div class="tab-content bg-transparent">
                            <div id="note-full-container" class="note-has-grid row justify-content-center">
                                <% if (notes.length && Array.isArray(notes)) { %>
                                    <% notes.forEach(function(note) { %>
                                        <div class="col-md-9 single-note-item all-category mb-3">
                                            <div class=" bg-white rounded-1 p-4 row">
                                                <div class="col-md-4">
                                                    <div style="height: 200px" class="mb-3">
                                                        <img class="note-image-content image-container"
                                                            src="<%= note.image %>" width="200px" height="100%"
                                                            style="object-fit:cover  ;" />
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="d-flex justify-content-between">
                                                        <h4 class="note-title text-truncate mb-3"
                                                            data-noteheading="Book a Ticket for Movie">
                                                            <%= note.name %>
                                                        </h4>
                                                        <p class="text-bg-dark p-2 rounded-4">Author - <%=note.author%>
                                                        </p>
                                                    </div>
                                                    <p class="note-date font-12 text-muted">
                                                        <%= moment(note.created_at) %>
                                                    </p>
                                                    <div class="note-content">
                                                        <!-- <p class="note-inner-content text-muted text-wrap" data-textquill="<%=note.description %>"> -->
                                                        <p class="note-inner-content text-muted text-wrap"
                                                            data-textquill="<%=note.description %>">
                                                            <%- note.description %>
                                                        </p>
                                                    </div>


                                                </div>
                                                <!-- Notes will be deleted later -->
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <% if (note.shared_role==true) { %>
                                                        <div>
                                                            <button class="mr-1 edit-note" data-bs-toggle="modal"
                                                                data-bs-target="#update-notes-modal"
                                                                data-noteid="<%= note.id %>"><i
                                                                    class="fa fa-edit"></i></button>
                                                        </div>
                                                        <% } else { %>

                                                            <button
                                                                class="mr-1 request-note btn btn-light border-radius-4 border-dark"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#request-notes-modal"
                                                                data-noteid="<%= note.id %>">Request editing
                                                                permission</button>
                                                            <% } %>
                                                </div>
                                                <% if (note.cancel_at && note.created_at && note.cancel_at.getTime()
                                                    !==note.created_at.getTime()) { %>
                                                    <div class="note-content">
                                                        <p class="note-inner-time mt-3 p-2 text-center text-bg-warning text-white fw-bold"
                                                            data-time="<%=moment(note.cancel_at)%>">
                                                            Canceled at: <%= moment(note.cancel_at)%>
                                                        </p>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <p class="text-center">No notes available.</p>
                                                <% } %>
                            </div>
                        </div>
                        <% if (totalPages >1) { %>
                        <div class="mt-4 d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item <%= (currentPage === 1) ? 'disabled' : '' %>">
                                  <a class="page-link" href="/notes?page=<%= currentPage - 1 %>&pageSize=<%= pageSize %>"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
            
                                <% for (let i=1; i <=totalPages; i++) { %>
            
                                  <li class="<%= (i === currentPage) ? 'active' : '' %> page-item">
                                    <a class="page-link" href="/notes?page=<%= i %>&pageSize=<%= pageSize %>">
                                      <%= i %>
                                    </a>
                                  </li>
                                  <% } %>
                                    <li class="page-item <%= (currentPage === totalPages) ? 'disabled' : '' %>">
                                      <a class="page-link"
                                        href="/notes?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>" aria-label= "Next">
                                        <span aria-hidden="true">&raquo;</span>
                                      </a>
                                    </li>
                              </ul>
                            </nav>
                          </div>
                          <%}%>
                    </div>
                </div>
            </div>
</section>


<!-- modal role -->
<section>
    <form method="post" class="modal fade" id="request-notes-modal" tabindex="-1" aria-labelledby="requestModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title text-white">Request Editing Permission</h5>
                    <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="notes-box">
                        <div class="notes-content">
                            <div>
                                <div>Want to request permission to edit notes?</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Request</button>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Loading -->
<% if (isLoading) { %>
    <div id="loading-spinner" class="loading-spinner" style="display: flex;">
        <div class="spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>
    <% } %>
        <!-- modal update -->
        <section>
            <form method="post" class="modal fade" id="update-notes-modal" tabindex="-1"
                aria-labelledby="updateleModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title text-white">Update Description Note</h5>
                            <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="notes-box">
                                <div class="notes-content">
                                    <div>
                                        <div class="row ">
                                            <div class="col-md-12 mb-3 ">
                                                <div>
                                                    <label>Note Title</label>
                                                    <input type="text" id="note-has-title" class="form-control" required
                                                        placeholder="Tiêu đề" name='nameNote' disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-12 ">
                                                <div class="note-description">
                                                    <label>Note Description</label>
                                                    <div class="editor-container-update" style="height: 100px;"></div>
                                                    <textarea id="note-has-description" class="editor-update"
                                                        name="descriptionNote" hidden required></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" id="edit-note-id" name="noteId">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
        <script>
            const requestButtons = document.querySelectorAll('.request-note');
            const requestForm = document.querySelector('#request-notes-modal');
            requestButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const noteId = this.getAttribute('data-noteid');
                    // alert(noteId);
                    const formAction = `/change-share-note/${noteId}`;
                    requestForm.setAttribute('action', formAction);
                    // const shareNoteIdField = document.querySelector('#share-note-id');
                    // shareNoteIdField.value = noteId;
                });
            })
            const editButtons = document.querySelectorAll('.edit-note');
            const updateForm = document.querySelector('#update-notes-modal');

            editButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const noteInnerContent1 = this.closest('.single-note-item').querySelector('.note-inner-content');
                    const noteId = this.getAttribute('data-noteid');
                    const formAction = `/edit-note/${noteId}`;
                    updateForm.setAttribute('action', formAction);
                    const noteTitle = this.closest('.single-note-item').querySelector('.note-title').innerText;
                    const noteTitleField = document.querySelector('#note-has-title');
                    noteTitleField.value = noteTitle;
                    const editNoteIdField = document.querySelector('#edit-note-id');
                    editNoteIdField.value = noteId;
                    const textQuill1 = noteInnerContent1.dataset.textquill;

                    // const noteDescription = this.closest('.single-note-item').querySelector('.note-inner-content').innerText;
                    // const formAction = `/update-note/${noteId}`;
                    const descriptionUploadTextarea = document.querySelector('.editor-update');

                    const deltaObject = quillUpdate.clipboard.convert(textQuill1);
                    quillUpdate.setContents(deltaObject);
                    descriptionUploadTextarea.value = JSON.stringify(deltaObject);

                    // alert(descriptionUploadTextarea.value)
                    quillUpdate.on('text-change', function () {
                        const content = quillUpdate.getContents();
                        descriptionUploadTextarea.value = JSON.stringify(content);
                    });

                })
            })

        </script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script>const quillUpdate = new Quill('.editor-container-update', {
                theme: 'snow'
            });</script>